.column-name {
    background-color: #f8f9fa;
    border: solid 1px #ddddde;
    color: #5f6268;
    font-size: 16px;
    text-align: center;
    padding: 5px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.row-name {
    min-width: 80px;
    background-color: #f8f9fa;
    border: solid 1px #ddddde;
    margin: 0;
    text-align: center;
    color: #5f6268;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    border: none;
    font-size: 16px;
    padding: 5px;
    border: solid 2px #ffffff
}

.input:focus {
    outline: none;
    border: solid 2px #2196f3;
}

.input:hover {
    cursor: cell
}

.cell {
    width: 120px;
    margin: 0;
    border: solid 1px #e2e3e3;
}